<!-- FOOTER // WHITE BACKGROUND
================================================== -->
<footer class="py-8 py-md-11">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 col-lg-3">
    
        <!-- Brand -->
        <a href="/en/">
        <img src="/assets/img/brand.svg" alt="..." class="footer-brand img-fluid mb-2">
        </a>

        <!-- Text -->
        <p class="text-gray-700 mb-6">
          &copy; 2021 Mobair Oy
        </p>

        <p class="mb-1 text-gray-700 fw-bold">Choose language</p>

        <div class="dropdown mb-6">
          <button class="btn btn-primary btn-xs dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="fi fi-gb me-2"></span> English (UK)
          </button>
          <ul class="dropdown-menu dropdown-menu-xs dropdown-menu-dark" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="/"><span class="fi fi-se me-2"></span>Svenska</a></li>
            <li><a class="dropdown-item" href="#"><span class="fi fi-no me-2"></span>Norsk</a></li>
          </ul>
        </div>

      </div>
      <div class="col-6 col-md-4 col-lg-2 mx-lg-2">
    
        <!-- Heading -->
        <h6 class="fw-bold text-uppercase text-gray-700">
          Products
        </h6>

        <!-- List -->
        <ul class="list-unstyled text-muted mb-6 mb-md-8 mb-lg-0">
          <li class="mb-3">
            <a href="{% link en/air-supply-fans-and-heaters.html %}" class="text-reset">
              Fans &amp; Heaters
            </a>
          </li>
          <li class="mb-3">
            <a href="{% link en/filters/index.html %}" class="text-reset">
              Filters
            </a>
          </li>
          <li class="mb-3">
            <a href="{% link en/accessories/index.html %}" class="text-reset">
              Accessories
            </a>
          </li>
          <li class="mb-3">
            <a href="{% link en/4100-heat-transfer-fan.html %}" class="text-reset">
              Heat Transfer
            </a>
          </li>
          <li>
            <a href="{% link en/48-v-dc-fans.html %}" class="text-reset text-nowrap">
              48 V DC Fans
            </a>
          </li>
        </ul>

      </div>
      <div class="col-6 col-md-4 col-lg-2 mx-lg-2">
    
        <!-- Heading -->
        <h6 class="fw-bold text-uppercase text-gray-700">
          Solutions
        </h6>

        <!-- List -->
        <ul class="list-unstyled text-muted mb-6 mb-md-8 mb-lg-0">
          <li class="mb-3">
            <a href="{% link en/room-specific-air-supply-solution.html %}" class="text-reset">
              Room-specific air supply solution
            </a>
          </li>
          <li class="mb-3">
            <a href="{% link en/cooling-solutions-for-base-stations.html %}" class="text-reset">
              Cooling solutions for base stations
            </a>
          </li>
        </ul>

      </div>
      <div class="col-6 col-md-4 offset-md-4 col-lg-2 offset-lg-0 mx-lg-2">
    
        <!-- Heading -->
        <h6 class="fw-bold text-uppercase text-gray-700">
          About
        </h6>

        <!-- List -->
        <ul class="list-unstyled text-muted mb-0">
          <li class="mb-3">
            <a href="{% link en/about-us.html %}" class="text-reset">
              Company
            </a>
          </li>
          <li class="mb-3">
            <a href="{% link en/resellers.html %}" class="text-reset">
              Resellers
            </a>
          </li>
        </ul>

      </div>
      <div class="col-6 col-md-4 col-lg-2 ml-lg-2">
    
        <!-- Heading -->
        <h6 class="fw-bold text-uppercase text-gray-700">
          Support
        </h6>

        <!-- List -->
        <ul class="list-unstyled text-muted mb-0">
          <li class="mb-3">
            <a href="https://support.mobair.fi" class="text-reset">
              Manuals <span class="fe fe-external-link"></span>
            </a>
          </li>
          <li class="mb-3">
            <a href="{% link en/faq.html %}" class="text-reset">
              FAQ
            </a>
          </li>
          <li>
            <a href="{% link en/contact-us.html %}" class="text-reset">
              Contact Us
            </a>
          </li>
        </ul>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</footer>
