<!-- FOOTER // WHITE BACKGROUND
================================================== -->
<footer class="py-8 py-md-11">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 col-lg-3">
    
        <!-- Brand -->
        <a href="/no/">
        <img src="/assets/img/brand.svg" alt="Mobair logo" class="footer-brand img-fluid mb-2">
        </a>

        <!-- Text -->
        <p class="text-gray-700 mb-2">
          &copy; 2023 Mobair Oy
        </p>

        <!-- Social -->
        <ul class="list-unstyled list-inline list-social mb-6">
          <li class="list-inline-item list-social-item mr-3">
            <a href="https://www.facebook.com/mobairsweden" class="text-decoration-none">
              <img src="/assets/img/icons/social/facebook.svg" class="list-social-icon" alt="Facebook icon">
            </a>
          </li>
          <li class="list-inline-item list-social-item mr-3">
            <a href="https://www.youtube.com/@mobair" class="text-decoration-none">
              <img src="/assets/img/icons/social/youtube.svg" class="list-social-icon" alt="Youtube icon">
            </a>
          </li>
          <li class="list-inline-item list-social-item mr-3">
            <a href="https://www.linkedin.com/company/mobair-oy/" class="text-decoration-none">
              <img src="/assets/img/icons/social/linkedin.svg" class="list-social-icon" alt="LinkedIn icon">
            </a>
          </li>
        </ul>

        <p class="mb-1 text-gray-700 fw-bold">Choose language</p>

        <div class="dropdown mb-6">
          <button class="btn btn-primary btn-xs dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="fi fi-no me-2"></span> Norsk
          </button>
          <ul class="dropdown-menu dropdown-menu-xs dropdown-menu-dark" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="/en/"><span class="fi fi-gb me-2"></span>English (UK)</a></li>
            <li><a class="dropdown-item" href="/"><span class="fi fi-se me-2"></span>Svenska</a></li>
          </ul>
        </div>

      </div>
      <div class="col-6 col-md-4 col-lg-2 mx-lg-2">
    
        <!-- Heading -->
        <h6 class="fw-bold text-uppercase text-gray-700">
          Produkter
        </h6>

        <!-- List -->
        <ul class="list-unstyled text-muted mb-6 mb-md-8 mb-lg-0">
          <li class="mb-3">
            <a href="{% link no/friskluftsventiler.html %}" class="text-reset">
              Friskluftsventiler
            </a>
          </li>
          <li class="mb-3">
            <a href="{% link no/filtre/index.html %}" class="text-reset">
              Filtre
            </a>
          </li>
          <li class="mb-3">
            <a href="{% link no/tilbehor/index.html %}" class="text-reset">
              Tilbehør
            </a>
          </li>
          <li class="mb-3">
            <a href="{% link no/4100-varmeveksler.html %}" class="text-reset">
              Varmeoverføring
            </a>
          </li>
          <li>
            <a href="{% link no/48-v-dc-vifter.html %}" class="text-reset text-nowrap">
              48 V DC Vifter
            </a>
          </li>
        </ul>

      </div>
      <div class="col-6 col-md-4 col-lg-2 mx-lg-2">
    
        <!-- Heading -->
        <h6 class="fw-bold text-uppercase text-gray-700">
          Løsninger
        </h6>

        <!-- List -->
        <ul class="list-unstyled text-muted mb-6 mb-md-8 mb-lg-0">
          <li class="mb-3">
            <a href="{% link no/romspesifikk-lufttilforselslosning.html %}" class="text-reset">
              Romspesifikk tilluftsløsning
            </a>
          </li>
          <li class="mb-3">
            <a href="{% link no/kjolelosninger-for-tekniske-rom-og-basestasjoner.html %}" class="text-reset">
              Kjøleløsninger for basestasjoner
            </a>
          </li>
        </ul>

      </div>
      <div class="col-6 col-md-4 offset-md-4 col-lg-2 offset-lg-0 mx-lg-2">
    
        <!-- Heading -->
        <h6 class="fw-bold text-uppercase text-gray-700">
          Om oss
        </h6>

        <!-- List -->
        <ul class="list-unstyled text-muted mb-0">
          <li class="mb-3">
            <a href="{% link no/selskap.html %}" class="text-reset">
              Selskap
            </a>
          </li>
          <li class="mb-3">
            <a href="{% link no/forhandler.html %}" class="text-reset">
              Forhandlere
            </a>
          </li>
        </ul>

      </div>
      <div class="col-6 col-md-4 col-lg-2 ml-lg-2">
    
        <!-- Heading -->
        <h6 class="fw-bold text-uppercase text-gray-700">
          Kundeservice
        </h6>

        <!-- List -->
        <ul class="list-unstyled text-muted mb-0">
          <li class="mb-3">
            <a href="https://support.mobair.fi" class="text-reset">
              Håndbøker <span class="fe fe-external-link"></span>
            </a>
          </li>
          <li class="mb-3">
            <a href="{% link no/faq.html %}" class="text-reset">
              FAQ
            </a>
          </li>
          <li>
            <a href="{% link no/kontakt-oss.html %}" class="text-reset">
              Kontakt oss
            </a>
          </li>
        </ul>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</footer>
